In [1]:
import numpy as np
import pandas as pd

test = pd.read_csv("test.csv")

In [2]:
test

   A    B  C
0  1  789  A
1  2   23  B
2  3  142  C
3  4   52  D
4  5   14  E

test
### test

[external_link](https://google.ca) external link
[internal_link](test23.ipynb) internal link